<nav id="sidebarleft" class="sidenav" [ngClass]="sidebarsService.sidebarleft === true?'active':'' "
>
  <div id="dismiss">
    <fa-icon [icon]="faTimes"></fa-icon>
  </div>
  <div class="sidebar-header">
      <h3>Let's eat!</h3>
  </div>
  <div class="search-form">
      <div class="search-wrapper ">
          <button class="ssubmit"  type="submit" name="search_submit"><fa-icon [icon]="faSearch"></fa-icon></button>
          <input id="search">
      </div>
      <ul class="right-menu">
        <li class="right-menu-item">
            <a href="#">
              <fa-icon [icon]="faPlus"></fa-icon> All
            </a>
        </li>
      </ul>
  </div>
</nav>
