<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="HandheldFriendly" content="True">
</head>
<body>
  <overlay></overlay>
  <side-nav></side-nav>
  <div id="content">
    <app-top-nav></app-top-nav>
    <div class="content-wrap">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
