.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.mat-card-image{
  margin: -16px 1rem 16px -16px;
  border-top-left-radius: 5px;
}
@media (max-width:767px){
  mat-card-content {
    margin-top:-5px;
  }
  mat-card-content .title{
    float: left;
  }
  mat-card-content .price{
    margin-left: 10px;
  }
}
mat-card-content .title{
  font-size:1.5rem;
  font-weight:400;
}
mat-card-content .description{
  margin-top: 5px;
  line-height: 1.3rem;
  width: 80%;
  height: 2.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
mat-card-content .fade-overflow{
  position: relative;
}
mat-card-content .fade-overflow::after{
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10%;
  height: 1.3em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
mat-card-content .description p{
  margin:0;
}
.mat-card{
  display: inline-table;
}
mat-card-content .price{
  vertical-align: middle;
  font-size: 1.3rem;
}
.addIcon-focus{
  opacity: .9;
}
.addIcon{
  padding: 0.2rem 0.5rem;
  border-radius: 0.15em;
  font-size: 1.1rem;
}
.iconshadow-v2{
  box-shadow: 2px 3px 3px rgba(0,0,0,0.6);
  -moz-box-shadow: 2px 3px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 2px 3px 3px rgba(0,0,0,0.6);
}
.iconshadow-v1{
  box-shadow: 2px 3px 3px rgba(0,0,0,0.6);
  -moz-box-shadow: 2px 3px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 2px 3px 3px rgba(0,0,0,0.6);
}
